
body {
  
  background-color: #ffffff
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-size: 90px;
}
body {
  font-size: 100%;
}
body {
  font-size: 100%;
}

u* {
  color: #000000
}
* {box-sizing:border-box}

